* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.todo-container {
    background-color: white;
    width: 400px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

#addButton {
    padding: 12px 18px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

#addButton:hover {
    background-color: #555;
}

#taskList {
    list-style: none;
    margin-top: 20px;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 12px;
    margin-bottom: 10px;

    background-color: #f1f1f1;
    border-radius: 6px;
}

.task-text {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.delete-button {
    border: none;
    background-color: #d9534f;
    color: white;

    padding: 6px 10px;
    border-radius: 5px;

    cursor: pointer;
}